@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

.scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}
.app-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
.app-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@theme {
  --font-Inter: Inter, sans-serif;
  --font-Lato: Lato;
}

body{
  background-color: #F5F7FA ;
  height: 100%;
}
